USE [master]
GO
/****** Object:  Database [MProject_Kantor]    Script Date: 21/09/2022 09:55:21 ******/
CREATE DATABASE [MProject_Kantor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MProject_Kantor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MProject_Kantor.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MProject_Kantor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MProject_Kantor_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MProject_Kantor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MProject_Kantor]
GO
/****** Object:  Table [dbo].[gaji]    Script Date: 21/09/2022 09:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[gaji](
	[salaryid] [int] NOT NULL,
	[salarytype] [varchar](100) NULL,
	[salary] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[salaryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[karyawan]    Script Date: 21/09/2022 09:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[karyawan](
	[personid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[address] [varchar](250) NULL,
	[gender] [int] NULL,
	[salaryid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[personid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[late]    Script Date: 21/09/2022 09:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[late](
	[lateid] [int] IDENTITY(1,1) NOT NULL,
	[late] [float] NULL,
	[personid] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[karyawan]  WITH CHECK ADD FOREIGN KEY([salaryid])
REFERENCES [dbo].[gaji] ([salaryid])
GO
ALTER TABLE [dbo].[late]  WITH CHECK ADD FOREIGN KEY([personid])
REFERENCES [dbo].[karyawan] ([personid])
GO
USE [master]
GO
